name: Compile org-mode files to HTML

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Emacs
        uses: purcell/setup-emacs@v3.0
        with:
          version: 28.1

      - name: Compile org-mode to HTML
        run: |
          emacs index.org --batch -Q --load .emacs.d/init.el -f org-publish-all --kill

      - name: Deploy to pages
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: pages
          folder: pages
