name: Compile org-mode files to HTML

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          target: src

      - name: Set up Emacs
        uses: purcell/setup-emacs@v3.0
        with:
          version: 28.1

      - uses: suisei-cn/actions-download-file@v1
        name: Download emacs config
        with:
            url: https://raw.githubusercontent.com/asdrubalini/nixos-config/master/desktop/emacs/init.el
            target: src

      - name: Compile org-mode to HTML
        run: |
          emacs ../index.html --batch -Q --load init.el -f org-html-export-to-html --kill &&
          ls

      - name: Deploy to pages
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: pages
          folder: build
